# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.suo
*.idb
*.pdb

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
